:root {
  --black: #000;
  --white: #fff;
  --grey: #ddd;
  --green: #28d199;
  --green-dark: #1c956d;
  --red: #d1285b;
  --red-dark: #9f1d44;
}

html {
  color: var(--white);
  background: var(--black);
  text-align: center;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

.not-now h1,
.not-now h2,
.not-now h3 {
  margin: 0px 0px 1.5rem;
}

.not-now-settings-html {
  color: var(--black);
  background: var(--white);
  text-align: left;
}

.not-now-settings-html body {
  margin: 1rem;
}

.not-now-settings {
  margin: 0px auto;
  max-width: 736px;
}

.not-now-settings hr {
  margin: 2rem 0px;
  height: 1px;
  background: var(--grey);
  border: 0px;
}

.not-now-block-item {
  font-size: 1.5rem;
}

.not-now-block-item:not(:last-child) {
  margin-bottom: 0.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--black);
}

.not-now-block-item-domain {
  display: inline-block;
  position: relative;
  margin-bottom: 0.25rem;
  padding-bottom: 0.125rem;
  width: auto;
  color: var(--black);
  border: 0px;
  font-size: 2rem;
}

.not-now-modal {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  color: var(--white);
  background: var(--black);
  text-align: center;
}

.not-now-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.not-now-image {
  margin-bottom: 1.5rem;
  width: 80vw;
  max-width: 25rem;
}

.not-now-message {
  font-size: 2rem;
}

.not-now-button {
  display: inline-block;
  padding: 0.75em 1em;
  color: var(--white);
  background: var(--green);
  border: 0px;
  outline: 0px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 0.25em;
  transition: background 250ms;
}

.not-now-modal .not-now-settings-button {
  margin-top: 1.5rem;
}

.not-now-add-new-button {
  float: right;
  margin-bottom: 1.5rem;
}

.not-now-button:hover,
.not-now-button:active,
.not-now-button:focus {
  background: var(--green-dark);
  text-decoration: none;
  cursor: pointer;
}

.not-now-button:active {
  box-shadow: inset 0px 0.25em 0.375em rgba(0, 0, 0, 0.125);
}

.not-now-button.alt {
  background: var(--red);
}

.not-now-button.alt:hover,
.not-now-button.alt:active,
.not-now-button.alt:focus {
  background: var(--red-dark);
}

.not-now-block-items:before {
  content: ' ';
  display: block;
  clear: both;
}

.not-now-block-items .form-wrap {
  display: block;
}

.not-now-block-items .form-wrap .block-type-label-inner,
.not-now-block-items .form-wrap select {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
}

.not-now-block-item-buttons {
  float: right;
}

.not-now-block-item-buttons .not-now-button-save {
  display: none;
}

.not-now-block-item .form-wrap {
  display: none;
}

.editing.not-now-block-item .not-now-block-item-domain {
  padding: 0.125rem 0.25rem;
  min-width: 250px;
  border: 1px solid var(--grey);
}

.editing.not-now-block-item .form-wrap {
  display: block;
}

.editing .not-now-block-item-buttons .not-now-button-save {
  display: inline-block;
}

.editing.not-now-block-item .not-now-block-item-type,
.editing .not-now-block-item-buttons .not-now-button-edit,
.editing .not-now-block-item-buttons .not-now-button-delete {
  display: none;
}

.not-now-block-item-buttons .not-now-button {
  font-size: 0.625rem;
}

.not-now-block-item-buttons .not-now-button:not(:last-child) {
  margin-right: 0.25rem;
}

.not-now-popup-html body {
  margin: 0.25rem;
}

.not-now-popup {
  width: 10rem;
}

.not-now-popup .not-now-button {
  display: block;
  width: 100%;
}

.not-now-popup .not-now-button:not(:last-child) {
  margin-bottom: 0.25rem;
}

.not-now-copyright {
  font-size: 0.75rem;
  text-align: center;
}

.not-now-copyright a,
.not-now-copyright a:visited {
  color: var(--black);
  outline: none;
}

@media screen and (max-width: 767px) {

  .not-now-settings {
    max-width: 100%;
  }

  .not-now-inner {
    left: 1rem;
    right: 1rem;
    transform: translate(0px, -50%);
  }

  .not-now-message {
    font-size: 1.5rem;
  }

}
